<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free restaurant catalogue for you">
    <meta name="theme-color" content="#1ABC9C"/>
    <title>Putra Restaurant</title>
</head>
<body>
    <ptr-skiplink></ptr-skiplink>
    <ptr-nav></ptr-nav>
    <ptr-drawer></ptr-drawer>
    <ptr-hero></ptr-hero>
    <ptr-content></ptr-content>
    <ptr-footer></ptr-footer>
    <ptr-up></ptr-up>
</body>
</html>