<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free restaurant catalogue for you">
    <meta name="theme-color" content="#1ABC9C"/>
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <title>Putra Restaurant</title>
</head>
<body>
    <noscript>Browser tidak support javascript atau fungsi script pada browser telah dimatikan</noscript>
    <ptr-skiplink></ptr-skiplink>
    <ptr-nav></ptr-nav>
    <ptr-drawer></ptr-drawer>
    <ptr-hero></ptr-hero>
    <ptr-content></ptr-content>
    <ptr-footer></ptr-footer>
    <ptr-up></ptr-up>
</body>
</html>