.content {
  padding: 50px 20px;
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  text-align: center;
  font-weight: normal;
}

.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
  justify-items: center;
  align-items: center;
}